<div class="d-flex h-100">
    
    <div class="cover-container d-flex w-100 h-200 p-5 mx-auto flex-column">
        <main class="px-4">    
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div>
                            <h1 class="display-4 text-uppercase">EVALUACION</h1>
                            <h1 class="display-4 text-uppercase">CRUD: Jon</h1>
                            <p class="lead">· Modelo y entidad en proyectos separados</p>
                            <p class="lead">· Listado 10 últimos mayores de 21 años ordenado por nombre</p>
                            <p class="lead">· Personas: Nombre (50) , Fecha Nacimiento, Telefono (25)</p>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <img src="../../assets/images/exam.png" alt="Examen" class="img-fluid w-50 h-auto">
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>